*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
/tmp

/node_modules/
.localrc
client/**/*.js
!client/systemjs.config.js
client/**/*.js.map
